<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Azure blob storage - susco account -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=myselfie;AccountKey=1+bBNP973glxVRWEgq7pSaizCNwCkbLafgCW4PxcpDf+sKOn8ZL7bK6DsmhYFNA/pl2fXuXEY8yQtZIV+r8Y8Q==" />
    <add key="StorageContainer" value="queuephotos" />
    <!-- Twitter static creds -->
    <add key="Twitter-ConsumerKey" value="kQvLGgj1LuEGRnYUwywjMJJ5X" />
    <add key="Twitter-ConsumerSecret" value="XeTJD8eetjHqcoy37q2hWguJlpKgvpucH8EXV1bRUgIQDO3ayZ" />
    <add key="Twitter-UserTokenKey" value="2516008364-DJEUqy8CchdnM0165hsxc3UVQUFzCFgEbdLQR9p" />
    <add key="Twitter-UserTokenSecret" value="acHWoyryDLkrekOGHWRcy6n6zC5o8iAVjod3Huyxn8Pti" />
    <!-- Instagram static creds -->
    <add key="Instagram-ConsumerKey" value="kQvLGgj1LuEGRnYUwywjMJJ5X" />
    <add key="Instagram-ConsumerSecret" value="XeTJD8eetjHqcoy37q2hWguJlpKgvpucH8EXV1bRUgIQDO3ayZ" />
    <add key="Instagram-UserTokenKey" value="2516008364-DJEUqy8CchdnM0165hsxc3UVQUFzCFgEbdLQR9p" />
    <add key="Instagram-UserTokenSecret" value="acHWoyryDLkrekOGHWRcy6n6zC5o8iAVjod3Huyxn8Pti" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Facebook static creds -->
    <add key="Facebook-UserToken" value="1571045399777264|GrPdVI5_ic2NgyU_NBi8nefWtT0" />
  </appSettings>
  <connectionStrings>
    <!-- Myselfie azure account --><!-- Susco azure account -->
  <add name="MySelfieEntities" connectionString="metadata=res://*/MySelfieModel.csdl|res://*/MySelfieModel.ssdl|res://*/MySelfieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=od2i5ujaue.database.windows.net;initial catalog=MySelfieTest;persist security info=True;user id=suscoadmin;password=Koshur99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>