@model MySelfie.Models.CredentialListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	    <h1 class="page-title txt-color-blueDark">
		    <i class="fa fa-table fa-fw "></i> 
			    Credentials
		    <span>
                >
			    Dashboard
		    </span>
	    </h1>
    </div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
				
	<!-- row -->
	<div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
	        <!-- Widget ID (each widget will need unique ID)-->
	        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
		        <header>
			        <span class="widget-icon"> <i class="fa fa-group"></i> </span>
			        <h2>Credential Management</h2>				
		        </header>
                <!-- widget div-->
                <div>
				
	                <!-- widget edit box -->
	                <div class="jarviswidget-editbox">
		                <!-- This area used as dropdown edit box -->
				        
	                </div>
	                <!-- end widget edit box -->
				
	                <!-- widget content -->
	                <div class="widget-body no-padding">
		                <div class="widget-body-toolbar">
				            @Html.Raw(@Html.ActionLink("[replace]", "Create", "Credential", null, new { title = "Create", @class = "btn btn-success" }).ToHtmlString().Replace("[replace]", "<i class=\"fa fa-lg fa-fw fa-plus-circle\"></i> Create New Credential"))
		                </div>										
		                @Html.Partial("_CredentialListPartial")				
	                </div>
	                <!-- end widget content -->				
                </div>
                <!-- end widget div -->
            </div>
	        <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
</section>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        SetupTooltips();
        SetupDeleteButton();        
    });

    function SetupTooltips() {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }
    }

    function SetupDeleteButton() {
        $(".remove-credential-btn").click(function (e) {
            var credentialID = $(this).parent().parent().attr("data-credential-id");
            var credentialName = $(this).parent().parent().attr("data-credential-name");

            var boxContent = "This will permanently remove the " +
                                credentialName + " credential.  Are you sure?" +
                                "<p class='text-align-right'>" +
                                "<a onclick='RemoveCredential(" + credentialID + ");' class='btn btn-primary btn-sm'>Yes</a>" +
                                "<a href='javascript:void(0);' class='btn btn-danger btn-sm'>No</a></p>";

            $.smallBox({
                title: "Delete Credential?",
                content: boxContent,
                color: "#C46A69",
                icon: "fa fa-times-circle swing animated"
            });

            e.preventDefault();
        });
    }

    function RemoveCredential(id) {
        $.ajax({
            type: "GET",
            url: '@(Url.RouteUrl("credential_delete_g"))' + "/" + id,
            success: function (data) {
                $("#row_" + id).remove();
            }
        });
    }

    function SetupTable() {
        $('#dt_wall').dataTable({
            "sPaginationType": "bootstrap_full",
            "ordering": true
        });
    }
</script>
}
